html {
    height: 100%;
  }
  
  body {
    background-color: rgb(223, 220, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  svg {
    background-color: rgb(255, 250, 243);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  
  .bar {
    background-color: aquamarine;
    border-color: beige;
    fill: rgb(39, 40, 97);
  }
  
  .bar:hover {
    fill: rgb(191, 3, 41);
  }
  
  g {
    color: rgb(143, 102, 39);
  }
  
  #tooltip {
    color: rgb(39, 40, 97);
    font-size: 22px;
  }
  
  #title {
    font-size: 30px;
  }